{% extends "base.html" %}

{% block content %}
<div class="flex flex-col gap-10">
	<header class="text-left">
		<p class="text-sm font-medium text-ctp-latte-overlay-100 dark:text-ctp-mocha-overlay-100">EVENT</p>
		<h1 class="text-4xl font-bold text-ctp-latte-teal dark:text-ctp-mocha-teal">{{ name }}</h1>
		<p class="text-xl">{{ date }}</p>
	</header>

	<ul id="contributions-list">
		{% for contribution in contributions %}
		<li
			class="mb-4 w-full flex-grow flex bg-ctp-latte-mantle/75 dark:bg-ctp-mocha-mantle/75 py-4 px-8 rounded-lg drop-shadow-xl backdrop-blur-md">
			<p class="flex-grow text-left text-xl text-ctp-latte-teal dark:text-ctp-mocha-teal font-semibold">{{ contribution.food_name }}</p>
			<p class="font-semibold">{{ contribution.guest_name }}</p>
		</li>
		{% endfor %}
		<li id="new-contribution-form"
			class="p-8 pt-4 rounded-lg drop-shadow-xl backdrop-blur-md
            bg-ctp-latte-mantle/75 dark:bg-ctp-mocha-mantle/75">
			<form hx-post="/contributions" hx-swap="outerHTML" hx-target="#new-contribution-form">
				<input name="event_id" id="form_new_contribution[event_id]" value="{{ event_id }}" hidden />
                <div class="flex flex-col items-center">
                    <div class="w-16 text-ctp-latte-teal dark:text-ctp-mocha-teal">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/></svg>
                    </div>
                    <div class="w-full md:w-128 mb-4">
                        <label for="form_new_contribution[food]">Dein Beitrag</label><br>
                        <input type="text" id="form_new_contribution[food]" name="food"
                            class="font-semibold text-ctp-latte-teal dark:text-ctp-mocha-teal py-2 px-4 w-full text-sm rounded-lg border-2 shadow-inner focus:outline-none hover:bg-ctp-latte-base border-ctp-latte-surface-200 caret-ctp-latte-teal dark:caret-ctp-mocha-teal hover:dark:bg-ctp-mocha-base dark:bg-ctp-mocha-mantle dark:border-ctp-mocha-surface-200 dark:focus:border-ctp-mocha-teal dark:caret-ctp-mocha-teal focus:border-ctp-latte-teal"
                            placeholder="z.Bsp. 'Salat'" required />
                    </div>
                    <div class="w-full md:w-128 mb-8">
                        <label for="form_new_contribution[name]">Dein Name</label><br>
                        <input type="text" id="form_new_contribution[name]" name="name"
                            class="font-semibold text-ctp-latte-teal dark:text-ctp-mocha-teal py-2 px-4 w-full text-sm rounded-lg border-2 shadow-inner focus:outline-none hover:bg-ctp-latte-base border-ctp-latte-surface-200 caret-ctp-latte-teal hover:dark:bg-ctp-mocha-base dark:bg-ctp-mocha-mantle dark:border-ctp-mocha-surface-200 dark:focus:border-ctp-mocha-teal dark:caret-ctp-mocha-teal focus:border-ctp-latte-teal"
                            required />
                    </div>
                    <button type="submit"
                        class="py-2 px-6 w-full md:w-128 text-sm 
                        text-ctp-latte-teal dark:text-ctp-mocha-teal
                        font-semibold text-center rounded-full border-2 
                        border-ctp-latte-teal dark:border-ctp-mocha-teal
                        ">Eintragen</button>
                </div>
			</form>
		</li>
	</ul>
</div>
{% endblock %}
