{% extends "base.html" %}

{% block content %}
<div id="form_event_new_container" class="flex justify-center items-center mt-10">
	<div class="p-8 w-1/2 rounded-lg drop-shadow-xl backdrop-blur-md
	bg-ctp-latte-mantle/75 dark:bg-ctp-mocha-mantle/75
        ">
		<form id="event_form_new" hx-post="/events" hx-target="#form_event_new_container"
			hx-swap="outerHTML">
			<!-- EVENT NAME -->
			<div class="mb-4">
				<label for="event_form_new[name]">Event</label>
				<input type="text" id="event_form_new[name]" name="name"
				class="font-semibold py-2 px-4 w-full text-sm rounded-lg border-2 shadow-inner focus:outline-none
                text-ctp-latte-teal dark:text-ctp-mocha-teal
                hover:bg-ctp-latte-base dark:hover:bg-ctp-mocha-base                  
                caret-ctp-latte-teal dark:caret-ctp-mocha-teal
                bg-ctp-latte-mantle dark:bg-ctp-mocha-mantle
                border-ctp-latte-surface-200 dark:border-ctp-mocha-surface-200
                focus:border-ctp-latte-teal dark:focus:border-ctp-mocha-teal"
				placeholder="My personal event" required />
			</div>
            <!-- CALENDAR -->
			<div x-data="app()" x-init="[initDate(), setNoOfDaysAndBlanks()]" x-cloak class="mb-6">
				<label for="event_form_new[date]">Datum</label>
				<input type="hidden" id="event_form_new[date]" name="date" x-ref="date" :value="datepickerValue" required />
                <!-- < Month Year > -->
				<div class="flex justify-between items-center mb-2">
					<button type="button"
						class="inline-flex p-1 rounded-full 
                        text-ctp-latte-teal dark:text-ctp-mocha-teal
                        hover:bg-ctp-latte-base dark:hover:bg-ctp-mocha-base"
						@click="if (month == 0) { year--; month = 12; } month--; setNoOfDaysAndBlanks()">
						<svg class="h-6 w-6 inline-flex" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
						</svg>
					</button>
					<div>
                        <span x-text="new Intl.DateTimeFormat(undefined, {month:'long'}).format(new Date(1970,month,1))" class="text-lg font-bold"></span>
						<span x-text="year" class="ml-1 text-lg font-normal"></span>
					</div>
					<button type="button"
						class="inline-flex p-1 rounded-full 
                        text-ctp-latte-teal dark:text-ctp-mocha-teal
                        hover:bg-ctp-latte-base dark:hover:bg-ctp-mocha-base"
						@click="if (month == 11) { month = 0; year++; } else { month++; } setNoOfDaysAndBlanks()">
						<svg class="h-6 w-6 inline-flex" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
						</svg>
					</button>
				</div>
                <!-- Grid -->
				<div class="grid grid-cols-7 gap-2">
                    <!-- Mon-Sun -->
					<template x-for="i in 7">
						<div class="px-0.5 my-1">
                            <div x-text="new Intl.DateTimeFormat(undefined,{weekday:'short'}).format(new Date(1970,1,1+i))" class="font-medium text-center text-xs
                                text-ctp-latte-teal dark:text-ctp-mocha-teal"></div>
						</div>
					</template>
					<template x-for="blankday in blankdays">
						<div class="aspect-square p-1 cursor-pointer text-center text-sm text-ctp-latte-mantle dark:text-ctp-mocha-mantle rounded-lg leading-loose outline-2">&nbsp;</div>
					</template>
					<template x-for="(date, dateIndex) in no_of_days" :key="dateIndex">
						<div @click="selectDate(date)" x-text="date"
							class="aspect-square content-center p-1 cursor-pointer text-center text-sm rounded-lg leading-loose outline-2 hover:outline"
							:class="{
			                      'outline outline-ctp-latte-surface-200 dark:outline-ctp-mocha-surface-200': isToday(date) == true && isSelectedDate(date) == false, 
			                      'outline outline-ctp-latte-teal dark:outline-ctp-mocha-teal text-ctp-latte-teal dark:text-ctp-mocha-teal font-semibold': isSelectedDate(date) == true,
								  'hover:outline-ctp-latte-text dark:hover:outline-ctp-mocha-text': isSelectedDate(date) == false,
			                    }">
						</div>
					</template>
					<template x-for="blankday in blankdaysAfter">
						<div class="aspect-square p-1 cursor-pointer text-center text-sm text-ctp-latte-mantle dark:text-ctp-mocha-mantle rounded-lg leading-loose outline-2">&nbsp;</div>
					</template>
				</div>
			</div>
			<button type="submit"
				class="py-2 px-6 w-full text-sm font-semibold text-center rounded-lg border-2 hover:border-2 hover:shadow-md
                text-ctp-latte-base 
                bg-ctp-latte-teal 
                border-ctp-latte-teal 

                dark:text-ctp-mocha-base 
                dark:bg-ctp-mocha-teal 
                dark:border-ctp-mocha-teal 

                dark:hover:text-ctp-mocha-teal 
                dark:hover:bg-ctp-mocha-base 
                dark:hover:shadow-ctp-mocha-teal/20 

                hover:text-ctp-latte-text 
                hover:bg-ctp-latte-base 
                hover:shadow-ctp-latte-teal/20">Submit</button>
		</form>
	</div>
</div>

<script>
	function app() {
		return {
			datepickerValue: "",
			selectedDate: "",
			month: "",
			year: "",
			no_of_days: null,
			blankdays: null,
			blankdaysAfter: null,
			initDate() {
				let today;
				if (this.selectedDate) {
					today = new Date(Date.parse(this.selectedDate));
				} else {
					today = new Date();
				}
				this.month = today.getMonth();
				this.year = today.getFullYear();
				this.datepickerValue = this.formatDate(today);
			},
            formatDate(date) {
                let formattedDate = ("0" + date.getDate()).slice(-2);
                let formattedMonthInNumber = ("0" + (parseInt(date.getMonth()) + 1)).slice(-2);
                let formattedYear = date.getFullYear();
                return `${formattedYear}-${formattedMonthInNumber}-${formattedDate}`;
            },
			isSelectedDate(date) {
				const d = new Date(this.year, this.month, date);
				return this.datepickerValue === this.formatDate(d) ? true : false;
			},
			isToday(date) {
				const today = new Date();
				const d = new Date(this.year, this.month, date);
				return today.toDateString() === d.toDateString() ? true : false;
			},
			selectDate(date) {
				let selectedDate = new Date(this.year, this.month, date);
				this.datepickerValue = this.formatDate(selectedDate);
				this.isSelectedDate(date);
			},
			setNoOfDaysAndBlanks() {
				let daysInMonth = new Date(this.year, this.month + 1, 0).getDate();
				this.no_of_days = daysInMonth;
				let dayOfWeek = new Date(this.year, this.month).getDay();
				this.blankdays = dayOfWeek;
                this.blankdaysAfter = 42 - daysInMonth - dayOfWeek;
			},
		};
	}
</script>
{% endblock %}
