{% extends "base.html" %}

{% block title %}Feast On{% endblock %}

{% block content %}
<div class="flex flex-col gap-y-4" x-data="app()" x-init="[init()]">

	<div class="p-4 w-full rounded-lg drop-shadow-xl backdrop-blur-md bg-ctp-latte-mantle/75 dark:bg-ctp-mocha-mantle/75" x-show="eventUUID == null">
        <label class="block mb-2" for="event_form_new[name]">Event</label>
        <input
            x-model="eventName"
            type="text"
            id="event_form_new[name]"
            name="name"
            class="w-full input mb-4"
            placeholder="My personal event"
            :value="event"
            autocomplete="off"
            required />
        <div class="mb-6" >
            <label class="block mb-2" for="form_date">Datum</label>
            <input x-model="eventDate" type="date" id="form_date" name="date" :value="eventDate" required hidden />
            <!-- < Month Year > -->
            <div class="flex justify-between items-center mb-2">
                <button 
                    type="button"
                    class="inline-flex btn disabled:bg-transparent disabled:text-ctp-mocha-surface-100 disabled:border-ctp-mocha-surface-100"
                    :disabled="(new Date(selectedYear, selectedMonth, 0)).valueOf() < (new Date()).valueOf()"
                    @click="prevMonth()">
                    <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                </button>
                <div>
                    <span x-text="new Intl.DateTimeFormat(undefined, {month:'long'}).format(new Date(1970,selectedMonth,1))" class="text-lg font-bold cursor-default"></span>
                    <span x-text="selectedYear" class="ml-1 text-lg font-normal cursor-default"></span>
                </div>
                <button
                    type="button"
                    class="inline-flex btn"
                    @click="nextMonth()">
                    <svg class="inline-flex w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </button>
            </div>
            <!-- Grid -->
            <div class="grid grid-cols-7 gap-2">
                <!-- Mon-Sun -->
                <template x-for="i in 7">
                    <div class="px-0.5 my-1 cursor-default">
                        <div x-text="new Intl.DateTimeFormat(undefined,{weekday:'short'}).format(new Date(1970,1,1+i))" class="text-xs font-medium text-center text-ctp-latte-teal dark:text-ctp-mocha-teal"></div>
                    </div>
                </template>
                <template x-for="cell in calendarCells()">
                    <div 
                        @click="pickDate(cell)"
                        x-text="cell"
                        class="content-center p-1 text-sm leading-loose text-center rounded-lg aspect-square outline-2"
                        :class="{
                            'text-ctp-latte-surface-100 dark:text-ctp-mocha-surface-100 cursor-default': cell != null && isPassed(cell) && !isToday(cell),
                            'outline outline-ctp-latte-teal dark:outline-ctp-mocha-teal text-ctp-latte-teal dark:text-ctp-mocha-teal font-semibold cursor-default': cell != null && isSelectedDate(cell),
                            'hover:outline cursor-pointer outline outline-ctp-latte-surface-200 dark:outline-ctp-mocha-surface-200 hover:outline-ctp-latte-text dark:hover:outline-ctp-mocha-text': cell != null && isToday(cell),
                            'hover:outline cursor-pointer hover:outline-ctp-latte-text dark:hover:outline-ctp-mocha-text': cell != null && !isSelectedDate(cell) && !isPassed(cell),
                        }">
                    </div>
                </template>
            </div>
        </div>
        <button @click="submitEvent()" class="w-full btn">Speichern</button>
    </div>
    
    <header x-show="eventUUID != null" class="text-left">
		<p class="text-sm font-medium text-ctp-latte-overlay-100 dark:text-ctp-mocha-overlay-100">Event</p>
		<h1 class="text-4xl font-bold text-ctp-latte-teal dark:text-ctp-mocha-teal" x-text="eventName"></h1>
		<p class="text-xl" x-text="new Date(eventDate).toLocaleDateString(undefined, {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })"></p>
	</header>

    <div x-show="eventUUID != null" class="p-4 rounded-lg drop-shadow-xl backdrop-blur-md bg-ctp-latte-mantle/75 dark:bg-ctp-mocha-mantle/75">
        <label class="block mb-2" for="event_uuid">Link zum Event</label>
        <div class="flex flex-row gap-x-4 w-full">       
            <input type="text" :value="window.location.href + '?event=' + eventUUID" class="input w-full" id="event_uuid" disabled />
            <button class="btn" id="copy_btn" onclick="copyToClipboard('event_uuid')">Kopieren</button>
        </div>
    </div>

	<ul x-show="eventUUID != null">
        <template x-for="contribution in contributions">
            <li class="flex flex-grow p-4 my-2 w-full rounded-lg bg-ctp-latte-mantle/75 drop-shadow-xl backdrop-blur-md dark:bg-ctp-mocha-mantle/75">
                <p class="flex-grow text-xl font-semibold text-left text-ctp-latte-teal dark:text-ctp-mocha-teal" x-text="contribution.name"></p>
                <p class="font-semibold" x-text="contribution.guest"></p>
            </li>
        </template>
    </ul>

    <div x-show="eventUUID != null" class="p-4 rounded-lg drop-shadow-xl backdrop-blur-md bg-ctp-latte-mantle/75 dark:bg-ctp-mocha-mantle/75">
        <div class="flex flex-col items-center">
            <div class="mb-4 w-full">
                <label class="block mb-2" for="contrib_name">Dein Beitrag</label>
                <input 
                    type="text"
                    id="contrib_name"
                    name="food"
                    class="w-full input"
                    placeholder="z.Bsp. 'Salat'"
                    required
                    autocomplete="off" />
            </div>
            <div class="mb-8 w-full md:w-128">
                <label class="block mb-2" for="contrib_guest">Dein Name</label>
                <input
                    type="text"
                    id="contrib_guest"
                    name="name"
                    class="w-full input"
                    required
                    autocomplete="off" />
            </div>
            <button @click="submitContribution()" class="w-full btn">Eintragen</button>
        </div>
    </div>
</div>

<script>
    function app() {
		return {
            eventName: null,
            eventDate: null,
            eventUUID: null,
            contributions: [],
            selectedMonth: null,
            selectedYear: null,
            init() {
                const search = window.location.search;
                const params = new URLSearchParams(search);
                this.eventUUID = params.get('event');
                if (this.eventUUID != null) {
                    this.initEvent();
                } else {
                    this.initDatePicker();
                }
            },
			initDatePicker() {
                const today = new Date();
                this.selectedMonth = today.getMonth();
                this.selectedYear = today.getFullYear();
			},
            async initEvent() {
                try {
                    const response = await fetch('/event/'+this.eventUUID);
                    const data = await response.json();
                    this.eventName = data.name;
                    this.eventDate = new Date(data.date);
                    this.contributions = data.contributions;
                } catch (error) {
                    console.error('Error:', error);
                }
            },
			isSelectedDate(date) {
                if (this.eventDate != null) {
                    return this.eventDate.getDate() == date;
                }
                return false;
			},
			isToday(date) {
				const today = new Date();
                return today.getDate() === date 
                    && today.getMonth() === this.selectedMonth 
                    && today.getFullYear() === this.selectedYear;
			},
            isPassed(date) {
				const today = new Date();
                return today.getDate() >= date 
                    && today.getMonth() >= this.selectedMonth 
                    && today.getFullYear() >= this.selectedYear;
			},
            nextMonth() {
                if (this.selectedMonth == 11) {
                    this.selectedMonth = 0;
                    this.selectedYear++;
                }
                else { 
                    this.selectedMonth++;
                }
                this.eventDate = null;
            },
            prevMonth() {
                if (this.selectedMonth == 0) {
                    this.selectedYear--;
                    this.selectedMonth = 12;
                } 
                this.selectedMonth--;
                this.evendDate = null;
            },
			pickDate(date) {
                this.eventDate = new Date(this.selectedYear, this.selectedMonth, date);
			},
			calendarCells() {
                let cells = [];
                const daysPaddingBefore = new Date(this.selectedYear, this.selectedMonth).getDay() - 1;
                for (let i = 0; i < daysPaddingBefore; i++) {
                    cells.push(null);
                }
                const daysInMonth = new Date(this.selectedYear, this.selectedMonth + 1, 0).getDate();
                for (let i = 1; i <= daysInMonth; i++) {
                    cells.push(i);
                }
                const numberOfGridCells = 6 * 7;
                const daysPaddingAfter = numberOfGridCells - cells.length;
                for (let i = 0; i < daysPaddingAfter; i++) {
                    cells.push(null);
                }
				return cells;
			},
            async submitEvent() {
                try {
                    const response = await fetch('/event', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            name: this.eventName,
                            date: this.eventDate.toISOString() // ISO 8601
                        })
                    });
                    this.eventUUID = await response.text();
                } catch (error) {
                    console.error('Error:', error);
                }
            },
            async submitContribution() {
                const name = document.getElementById("contrib_name").value;
                const guest = document.getElementById("contrib_guest").value;
                try {
                    const response = await fetch('/event/'+this.eventUUID+'/contributions', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            name: name,
                            guest: guest
                        })
                    });
                    let data = await response;
                    if (data.status === 200) {
                        document.getElementById("contrib_name").value = "";
                        document.getElementById("contrib_guest").value = "";
                        this.contributions.push({name: name, guest: guest});
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            },
		};
	}

    function copyToClipboard(id) {
		// Get the text field
		var copyText = document.getElementById(id);

		// Select the text field
		copyText.select();
		copyText.setSelectionRange(0, 99999); // For mobile devices

		// Copy the text inside the text field
		navigator.clipboard.writeText(copyText.value);

        document.getElementById("copy_btn").innerText = "Kopiert!";
	}
</script>
{% endblock %}
