{% macro submit() %}
<button type="submit"
    class="py-2 px-6 w-full text-sm font-semibold text-center rounded-lg border-2 hover:border-2 hover:shadow-md text-ctp-latte-base bg-ctp-latte-teal border-ctp-latte-teal dark:text-ctp-mocha-base dark:bg-ctp-mocha-teal dark:border-ctp-mocha-teal dark:hover:text-ctp-mocha-teal dark:hover:bg-ctp-mocha-base dark:hover:shadow-ctp-mocha-teal/20 hover:text-ctp-latte-text hover:bg-ctp-latte-base hover:shadow-ctp-latte-teal/20">SUBMIT</button>
{% endmacro %}

{% macro edit() %}
<button
    class="py-2 px-6 w-full text-sm font-semibold text-center bg-transparent rounded-lg border-2 dark:bg-transparent hover:border-2 hover:shadow-md text-ctp-latte-subtext-100 border-ctp-latte-subtext-100 dark:text-ctp-mocha-subtext-100 dark:hover:text-ctp-mocha-text dark:hover:bg-ctp-mocha-base dark:border-ctp-mocha-subtext-100 dark:hover:shadow-ctp-mocha-subtext-100/20 hover:text-ctp-latte-text hover:bg-ctp-latte-base hover:shadow-ctp-latte-subtext-100/20">EDIT</button>
{% endmacro %}

{% macro delete() %}
<button
    class="py-2 px-6 w-full text-sm font-semibold text-center bg-transparent rounded-lg border-2 dark:bg-transparent hover:border-2 hover:shadow-md text-ctp-latte-red border-ctp-latte-red dark:text-ctp-mocha-red dark:hover:text-ctp-mocha-text dark:hover:bg-ctp-mocha-base dark:border-ctp-mocha-red dark:hover:shadow-ctp-mocha-red/20 hover:text-ctp-latte-text hover:bg-ctp-latte-base hover:shadow-ctp-latte-red/20">DELETE</button>
{% endmacro %}