{% macro text(form_id, name, required) %}
<input type="text" id="{{ form_id }}[{{ name }}]" name="{{ name }}"
    class="font-semibold text-ctp-mocha-teal py-2 px-4 w-full text-sm rounded-lg border-2 shadow-inner focus:outline-none hover:bg-ctp-latte-base border-ctp-latte-surface-200 caret-ctp-latte-teal hover:dark:bg-ctp-mocha-base dark:bg-ctp-mocha-mantle dark:border-ctp-mocha-surface-200 dark:focus:border-ctp-mocha-teal dark:caret-ctp-mocha-teal focus:border-ctp-latte-teal"
    placeholder="{{ name|uppercase }}" {% if required %}required{% endif %} />
{% endmacro %}

{% macro date(form_id, name, required) %}
<input type="date" id="{{ form_id }}[{{ name }}]" name="{{ name }}"
    class="dark:focus:bg-ctp-mocha-surface-300 py-2 px-4 w-full text-sm rounded-lg border-2
    shadow-inner focus:outline-none bg-ctp-latte-base border-ctp-latte-surface-200 caret-ctp-latte-teal hover:dark:bg-ctp-mocha-base 
    dark:border-ctp-mocha-surface-200 dark:focus:border-ctp-mocha-teal dark:caret-ctp-mocha-teal focus:border-ctp-latte-teal" placeholder="{{ name|uppercase }}" {% if required
    %}required{% endif %} />
{% endmacro %}

{% macro date_inline(form_id, name, required) %}
<div x-data="app()" x-init="[initDate(), setNoOfDaysAndBlanks()]" x-cloak>
    <div class="flex justify-between items-center mb-2">
        <button type="button" class="inline-flex text-ctp-mocha-teal p-1 rounded-full hover:bg-ctp-mocha-base"
            @click="if (month == 0) { year--; month = 12; } month--; setNoOfDaysAndBlanks()">
            <svg class="h-6 w-6 inline-flex" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
        <div>
            <span x-text="MONTH_NAMES[month]" class="text-lg font-bold"></span>
            <span x-text="year" class="ml-1 text-lg font-normal"></span>
        </div>
        <button type="button" class="inline-flex text-ctp-mocha-teal p-1 rounded-full hover:bg-ctp-mocha-base"
            @click="if (month == 11) { month = 0; year++; } else { month++; } setNoOfDaysAndBlanks()">
            <svg class="h-6 w-6 inline-flex" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div>
    <div class="grid grid-cols-7 gap-2">
        <template x-for="(day, index) in DAYS" :key="index">
            <div class="px-0.5 my-1">
                <div x-text="day" class="font-medium text-center text-ctp-mocha-teal text-xs"></div>
            </div>
        </template>
        <template x-for="blankday in blankdays">
            <div class="text-center border p-1 border-transparent text-sm"></div>
        </template>
        <template x-for="(date, dateIndex) in no_of_days" :key="dateIndex">
            <div @click="selectDate(date)" x-text="date"
                class="p-1 cursor-pointer text-center text-sm rounded-lg leading-loose outline-2 hover:bg-ctp-mocha-base"
                :class="{
                      'outline outline-ctp-mocha-surface-200': isToday(date) == true && isSelectedDate(date) == false, 
                      'outline outline-ctp-mocha-teal text-ctp-mocha-teal font-semibold': isSelectedDate(date) == true 
                    }">
            </div>
        </template>
    </div>
</div>

<script>
    const MONTH_NAMES = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December",];
    const DAYS = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

    function app() {
        return {
            datepickerValue: "",
            selectedDate: "",
            dateFormat: "DD-MM-YYYY",
            month: "",
            year: "",
            no_of_days: null,
            blankdays: null,
            initDate() {
                let today;
                if (this.selectedDate) {
                    today = new Date(Date.parse(this.selectedDate));
                } else {
                    today = new Date();
                }
                this.month = today.getMonth();
                this.year = today.getFullYear();
                this.datepickerValue = this.formatDateForDisplay(today);
            },
            formatDateForDisplay(date) {
                let formattedDay = DAYS[date.getDay()];
                let formattedDate = ("0" + date.getDate()).slice(-2); // appends 0 (zero) in single digit date
                let formattedMonth = MONTH_NAMES[date.getMonth()];
                let formattedMonthShortName = MONTH_NAMES[date.getMonth()].substring(0, 3);
                let formattedMonthInNumber = ("0" + (parseInt(date.getMonth()) + 1)).slice(-2);
                let formattedYear = date.getFullYear();
                if (this.dateFormat === "DD-MM-YYYY") {
                    return `${formattedDate}-${formattedMonthInNumber}-${formattedYear}`; // 02-04-2021
                }
                if (this.dateFormat === "YYYY-MM-DD") {
                    return `${formattedYear}-${formattedMonthInNumber}-${formattedDate}`; // 2021-04-02
                }
                if (this.dateFormat === "D d M, Y") {
                    return `${formattedDay} ${formattedDate} ${formattedMonthShortName} ${formattedYear}`; // Tue 02 Mar 2021
                }
                return `${formattedDay} ${formattedDate} ${formattedMonth} ${formattedYear}`;
            },
            isSelectedDate(date) {
                const d = new Date(this.year, this.month, date);
                return this.datepickerValue === this.formatDateForDisplay(d) ? true : false;
            },
            isToday(date) {
                const today = new Date();
                const d = new Date(this.year, this.month, date);
                return today.toDateString() === d.toDateString() ? true : false;
            },
            selectDate(date) {
                let selectedDate = new Date(this.year, this.month, date);
                this.datepickerValue = this.formatDateForDisplay(selectedDate);
                this.isSelectedDate(date);
            },
            setNoOfDaysAndBlanks() {
                let daysInMonth = new Date(this.year, this.month + 1, 0).getDate();
                this.no_of_days = daysInMonth;
                let dayOfWeek = new Date(this.year, this.month).getDay();
                this.blankdays = dayOfWeek;
            },
        };
    }
</script>
{% endmacro %}